.App{
  background: #ffffff;
  /* font-family: var(--font-family-1); */ 
}

.h1-bold-sans{
  font-family: var(--font-family);
  font-weight: var(--h1-font-weight);
  font-size: var(--h1-font-size);
  /* letter-spacing: -2px; */
}
.h6-bold-sans{
  font-family: var(--font-family);
  font-weight: var(--h6-font-weight);
  font-size: var(--h6-font-size);
  /* letter-spacing: -2px; */
}


